<article>
	<header>
		<h1 class="title">Editing Portfolio</h1>
		<%= link_to 'Show', @portfolio %> | <%= link_to 'Back', portfolios_path %>
	</header>

	<section class="main">
		<%= render 'form', portfolio: @portfolio %>
	</section>
</article>
