<article>
	<header>
		<h1 class="title">New Resume</h1>
		<%= link_to 'Back', root_path %>
	</header>

	<section class="main">
		<%= render 'form', resume: @resume %>
	</section>
	
	<footer>
		
	</footer>
</article>

